<div class="stats">
  @if (showPercent()) {
    <div class="percent">
      <p class="percent-text">{{ roundedPercent() }}%</p>
    </div>
  }
  <div class="monitored">
    @for (item of statItems(); track item.name) {
      @switch (item.type) {
        @case ('stat') {
          <app-stat [name]="item.name" [value]="item.value ?? '-'" />
        }
        @case ('temperature') {
          <app-temperature-stat [name]="item.name" [temperatureEntity]="item.temperatureEntity" />
        }
        @case ('time') {
          <app-time-stat
            [name]="item.name"
            [timeEntity]="item.timeEntity"
            [condition]="item.condition!"
            [direction]="item.direction ?? 0"
            [status]="item.status ?? ''"
            [attr]="item.attr"
          />
        }
      }
    }
  </div>
</div>

