.stat {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  width: 100%;
  align-items: center;
  margin: 2px 0;
}

.stat-text {
  margin: 0;
}

.stat-text:last-child {
  text-align: right;
}

